.zuc{ width:700px;
height: 500px; border: 5px groove black;}
.justify-content{text-align: center
;
}
.zuc-lizard{width:700px;
height:800px;
border: 5px groove black;}
.thumb{height: 50px;
width: 60px;
flex-direction: column ;}

